/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************
    GENERAL
**************/

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.container-game {
    max-width: 700px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-over {
    max-width: 700px;
    height: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 30px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

#diff {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#diff:hover, #start:hover {
    opacity: 0.5;
}

#start {
    padding: 10px 18px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.win {
    max-width: 700px;
    height: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 30px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.game-over > h2, .game-over > h4 {
    font-size: 100px;
    text-align: center;
}
.game-over > h5 {
    text-align: center;
    font-size: 80px;
    color: white;
}

.game-over > button {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.game-over > button:hover {
    opacity: 0.5;
}

.win > h2, .win > h4 {
    font-size: 100px;
    text-align: center;
}
.win > h5 {
    text-align: center;
    font-size: 80px;
    color: white;
}

.win > button {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.game-over > button:hover {
    opacity: 0.5;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: white;
}

.game-bar {
    text-align: center;
    margin-bottom: 10px;
}

.square {
    background: #999999;
    border: 3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transition: all 0.2s ease-in-out;
    color: #999999;
}

.square-10 {
    width: calc((100% / 10) - 4px);
    height: calc(100% / 10);
}

.square-9 {
    width: calc((100% / 9) - 4px);
    height: calc(100% / 9);
}

.square-7 {
    width: calc((100% / 7) - 4px);
    height: calc(100% / 7);
}

.container-game > .square:active {
    background-color: white;
    color: white;
}

.active {
    background-color: white;
    color: white;
}

.visible {
    display: block;
}

.red {
    background-color: red;
    color: red;
    border: 3px solid red;
}




